# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Oo]bj/
[Ll]og/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lib

ipch/
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.db
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
/PublicAPI/
/.vs/Supercharger/v8test/workbench.dat
/.vs/Supercharger/v8test/global_history.dat
/.vs/Supercharger/v8test/codemap.dat
/.vs/Supercharger/v8test
/.vs/Supercharger/V8/workbench.dat
/.vs/Supercharger/V8/global_history.dat
/.vs/Supercharger/V8/codemap.dat
/.vs/Supercharger/V8
/.vs/Supercharger/RakNet/workbench.dat
/.vs/Supercharger/RakNet/global_history.dat
/.vs/Supercharger/RakNet/codemap.dat
/.vs/Supercharger/RakNet
/.vs/Supercharger/MinHook/workbench.dat
/.vs/Supercharger/MinHook/global_history.dat
/.vs/Supercharger/MinHook/codemap.dat
/.vs/Supercharger/MinHook
/.vs/Supercharger/MainMode/workbench.dat
/.vs/Supercharger/MainMode/global_history.dat
/.vs/Supercharger/MainMode/codemap.dat
/.vs/Supercharger/MainMode
/.vs/Supercharger/Lua/workbench.dat
/.vs/Supercharger/Lua/global_history.dat
/.vs/Supercharger/Lua/codemap.dat
/.vs/Supercharger/Lua
/.vs/Supercharger/LibCurl/workbench.dat
/.vs/Supercharger/LibCurl/global_history.dat
/.vs/Supercharger/LibCurl/codemap.dat
/.vs/Supercharger/LibCurl
/.vs/Supercharger/LauncherCEF/workbench.dat
/.vs/Supercharger/LauncherCEF/global_history.dat
/.vs/Supercharger/LauncherCEF/codemap.dat
/.vs/Supercharger/LauncherCEF
/.vs/Supercharger/Launcher/workbench.dat
/.vs/Supercharger/Launcher/global_history.dat
/.vs/Supercharger/Launcher/codemap.dat
/.vs/Supercharger/Launcher
/.vs/Supercharger/FW1FontWrapper/workbench.dat
/.vs/Supercharger/FW1FontWrapper/global_history.dat
/.vs/Supercharger/FW1FontWrapper/codemap.dat
/.vs/Supercharger/FW1FontWrapper
/.vs/Supercharger/Core/workbench.dat
/.vs/Supercharger/Core/global_history.dat
/.vs/Supercharger/Core/codemap.dat
/.vs/Supercharger/Core
/.vs/Supercharger/CEF/workbench.dat
/.vs/Supercharger/CEF/global_history.dat
/.vs/Supercharger/CEF/codemap.dat
/.vs/Supercharger/CEF
/.vs/Supercharger/BeaEngine/workbench.dat
/.vs/Supercharger/BeaEngine/global_history.dat
/.vs/Supercharger/BeaEngine/codemap.dat
/.vs/Supercharger/BeaEngine
/.vs/Supercharger/Base/workbench.dat
/.vs/Supercharger/Base/global_history.dat
/.vs/Supercharger/Base/codemap.dat
/.vs/Supercharger/Base
